@model MVCSTOK.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "yenikategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@* method="post demek kaydet veya gönder tarzında bir butona bastığımızda arka tarafta httppost olarak tanımladığımız yerin çalışmasını sağlar.. " *@
<form class="form-group" method="post">
    <!--<div>
        <label>Kategori Adı</label>-->
        @* buradaki name veritabınındaki adı ile aynı olmak zorunda.. *@
        <!--<input type="text" class="form-control" name="KATEGORIAD"/>
    </div>-->
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m=>m.KATEGORIAD, new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.KATEGORIAD,"",new {@style="color:blue"})
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>

</form>

