
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bilgi" >Hakkımızda</button>

<div class="modal" id="bilgi">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Ekranı</h2>
            </div>
            <form>
                <div class="modal-body">
                    <h1>MVC EĞİTİMİ</h1>
                    <h2>Murat Yücedağ</h2>
                    
                </div>
            </form>
        </div>
    </div>
</div>

